<nav class="nav">
  <section class="nav-container">
    <ul class="nav-list">
      <li class="list-item"><a class="link" href="#">Home</a></li>
      <li class="list-item"><a class="link" href="#">Custom</a></li>
      <li class="list-item"><a class="link" href="#">Sedan</a></li>
      <li class="list-item"><a class="link" href="#">SUV</a></li>
      <li class="list-item"><a class="link" href="#">Truck</a></li>
    </ul>
  </section> 
</nav>